
/*
 *   Constants for colour scheme 82. as per
 *   https://www.canva.com/learn/100-color-combinations/
*/
body {
  --custom-color-ink:       #20232A;
  --custom-color-aluminium: #ACBEBE;
  --custom-color-paper:     #F4F4EF;
  --custom-color-ruby-red:  #A01D26;
}

/*
* {
    border: solid 1px black;
}
*/

body {
    font-family: arial, sans-serif;
    background-color: var(--custom-color-paper);
}

#wrapper {
    margin: auto;
    width: 920px;
}

header {
    text-align: center;
    color: var(--custom-color-ink);
}

#main_content {
    text-align: center;
}

nav {
    display: inline-block;

    background-color: var(--custom-color-ruby-red);
    color: var(--custom-color-paper);
    
    padding: 30px;
    border-radius: 10px 80px;
    box-shadow: 5px 5px 5px var(--custom-color-ink);
}

nav menu {
    display: inline-block;
    list-style-type: none;

    padding: 0;
    margin: 0 auto;
}

nav menu li a {
    display: block;
    padding: 5px;
    color: var(--custom-color-paper);
    text-align: justify;
    text-decoration: none;    
    font-weight: bold;
}

nav menu li a:hover {
    background-color: var(--custom-color-aluminium);
    color: var(--custom-color-ink);
    border-radius: 5px 15px;
    box-shadow: 5px 5px 5px var(--custom-color-ink);
}

nav > hr {
    color: var(--custom-color-paper);
    margin: 8px auto;
    width: 80%;
}

footer {
    text-align: center;
}